.main {
  min-height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
  display: grid;
  place-items: center;
}
.posts {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
