.main {
  min-height: 100vh;
  width: 100vw;
  margin-bottom: 15vh;
  display: grid;
  place-items: center;
}
.posts {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 10vh;
}
.modal {
  background-color: aliceblue;
  height: 40vh;
  width: 60vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.display-post {
  padding: 20px;
  height: 50vh;
  width: 60vw;
  display: grid;
  place-items: center;
}
.post-page {
  display: grid;
  place-items: center;
}
